#clockcontainer{
    position: relative;
    margin:auto;
    background-color: aqua;
    height:45vw;
    width:40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    border:2px solid red;
}
#hour,#minute,#second{
    position:absolute;
    background-color: black;
    border-radius: 10px;
}
#hour{
    width: 1%;
    height: 30%;
    top: 18%;
    left: 49.5%;
    /* display:none; */
}
#minute{
    width:0.8%;
    height:35%;
    top:13%;
    left:49.6%;
    background-color: chartreuse;
    /* display:none; */
}
#second{
    width:0.5%;
    height:37%;
    top:12%;
    left:49.75%;
    background-color: chocolate;
    
}